@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Смена пароля";
}
<h1>@ViewData["Title"]</h1>

@if(Model.FirstChange)
{
    <h2>Необходимо сменить выданный пароль для входа и продолжения использования!</h2>
}

<form asp-action="ChangePassword" asp-controller="Home" class="form-quote"  method="post">
    <label>Логин:</label><br />
    @Html.EditorFor(m => m.Login) <br />
    <label>Старый пароль:</label><br />
    <input type="password" asp-for="OldPassword" /> <br />
    <label>Новый пароль:</label><br />
    @Html.EditorFor(m => m.NewPassword) <br />
    <label>Повторите новый пароль:</label><br />
    @Html.EditorFor(m => m.NewPasswordRepeat) <br />
    <input type="submit" class="btn btn-primary" value="Подтвердить"/>
</form>