@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в модульный журнал!</h1>
    
    <h2 style="margin-top: 100px;">Выполните вход в систему, чтобы продолжить использование</h2>
</div>
